/* section - about */

#section-about {
  padding: 80px;
  flex-direction: row;
}

#section-about div {
  flex: 1;
}

#section-about img {
  flex: 1;
  height: 500px;
}

#section-about .section-title {
  margin-top: 10px;
}

#section-about .section-paragraph {
  margin-top: 20px;
  margin-bottom: 30px;
}

#section-about .item-container .item {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#section-about .item-container .item img {
  height: 100px;
  width: 100px;
  flex: 0;
  border-radius: 100%;
}

#section-about .item-container .item .text-container {
  margin-left: 20px;
  flex: 1;
}

#section-about .item-container .item .text-container .subtitle {
  font-size: 18px;
}
#section-about .item-container .item .text-container .subtitle:hover {
  cursor: pointer;
}

#section-about .item-container .item p {
  font-size: 14px;
  color: #606060;
}

@media (max-width: 964px) {
  #section-about {
    flex-direction: column-reverse;
    padding: 80px 120px;
  }
}
