/* footer */

footer {
  padding: 30px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #343B40;
  text-align: center;
}

footer .designed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  margin-top: 10px;
}

footer .designed a {
  margin-left: 2px;
  color: #2DC997;
  text-decoration: none;
}
