/* section - facts */

#section-facts {
  background-color: #F7F7F7;
}

#section-facts .items-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 240px;
}

#section-facts .items-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#section-facts .items-container .item .number {
  font-size: 48px;
  color: #2DC997;
}

#section-facts .items-container .item .name {
  font-size: 14px;
  color: #666666;
  padding-bottom: 20px;
}



@media (max-width: 964px) {
  #section-facts .items-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
}
