:root {
  --loginButtonColor: #2336AF;
  --dashboardTopColor: #E3E3F0;
  --dashboardBottomColor: #4FA0CA;
  --signColor: #3485E5;
  --simpanButtonColor: #404B59;
}



body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: 'Poppins', sans-serif;
}

#root,
#root .page {
  height: 100%;
}



.dashboard {
  display: flex;
  flex-direction: row;
}
.dashboard #dashboard-component {
  flex: 1;
}
.dashboard .mainWrapper {
  flex: 4;
}



main {
  padding: 24px;
}

main .title {
  font-size: 24px;
  font-weight: bold;
}

main .changeMainButton {
  margin-top: 12px;
  border: 0;
  border-radius: 4px;
  background-color: #11E2CB;

  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}
main .changeMainButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

main #table-component,
main form {
  margin-top: 24px;
}
