:root {
  --loginButtonColor: #2336AF;
  --dashboardTopColor: #E3E3F0;
  --dashboardBottomColor: #4FA0CA;
  --tambahButtonColor: #11E2CB;
  --signOutColor: #3485E5;
  --simpanButtonColor: #404B59;
}



body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: 'Poppins', sans-serif;
}

#root,
#root .page {
  height: 100%;
}

.pageDashboard {
  display: flex;
  flex-direction: row;
}
.pageDashboard #dashboard-component {
  flex: 1;
}
.pageDashboard main {
  flex: 4;
}
